<h1>Cuisines#show</h1>

<div class="header">
  <div class="container">
    <h1></h1>
  </div>
</div>

<div class="cuisine">
  <div class="container">
        <h2><%= @cuisine.region %></h2>
  </div>
</div>

<div class="recipes">
  <div class="container">
    <% @recipes.each do |recipe|%> 
    <%= image_tag recipe.image %>
    <h2> <%= recipe.name %></p> 
    <p> <%= recipe.ingredients %></p> 
    <p> <%= recipe.instructions %></p> 
    </div>    
    <% end %> 
  </div>

  </div>
</div>